.background {
    background-color: #FFFFFF;
}
.home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.banner {
    width: 100%;
    height: 300px;
    background-color: #0A3200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 8px;
    top: 0;
    margin-bottom: 30px;
}

.add-channel {
    border-style: solid;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 20px;
    font-size: 35px;
    color: white;
    background-color: darkseagreen;
    float: right;
}

.add-channel:hover {
    cursor:pointer;
    background-color: darkgreen;
}

.modal-btn {
    border-style: solid;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: darkseagreen;
    color: darkseagreen;
}

.modal-btn:hover {
    cursor:pointer;
}
